.l-nav {
    background-color: #444;
    position: sticky;
    top: 0;
    z-index: 4;
}

.l-header {
    position: relative;
}

.l-main {
    padding: 20px;
}

#article {
    margin-bottom: 40px;
}

.l-table {
    width: 57%;
    text-align: center;
}